html {
  scroll-behavior: smooth;
}

body {
  overflow-y: hidden;
  /* Enable vertical scrolling */
  overflow-x: hidden;

  /* Hide horizontal scrollbar */
  background-color: black;
}

.opening {
  font-family: "ekors";
}

#intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 60%;
  /* Adjust the width as per your requirement */
  z-index: 8000;
}

a,
button,
a img {
  cursor: url(https://cdn.custom-cursor.com/db/15051/32/starter-northern-lights-pointer.png),
    pointer !important;
  text-decoration: none;
}

.page {
  display: none;
}

h1 {
  font-family: "ekors";
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

div {
  margin: auto;
}

p {
  font-family: "echo";
  font-size: 1.2rem;
  line-height: 1.6;
  color: white;
}

h4 {
  font-family: "echo";
  font-size: 0.9rem;
  line-height: 1.6;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  font-family: "echo";
  margin-bottom: 10px;
  font-size: 16px;
  color: rgba(245, 245, 245, 0.75);
}

li:hover {
  color: rgb(138, 43, 226);
}

li:before {
  content: "\2022";
  /* Bullet point character */
  color: rgb(138, 43, 226);
  /* Bullet point color */
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.fade-in {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.fade-in.active {
  opacity: 1;
}

.container {
  
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  z-index: 10;
  margin-top: 17%;
  width: 95%;
}

.card {
  opacity: 0;
  flex: 1;
  display: flex;
  align-items: center;

  margin: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  transform: translateX(0%);

  /* Smooth transition on background-color change */
}

.card:hover {
  background-color: rgba(40, 40, 40, 0.5);
}

.card img {
  max-width: 100px;
  /* Adjust as needed */
  height: auto;
  /* Maintain aspect ratio */
}

.card-content {
  padding: 20px;
  box-sizing: border-box;
}

.item {
  flex: 1;
  /* This makes each item take 50% width initially */
  max-width: 100%;
  /* Ensures items don't exceed 100% width */
  box-sizing: border-box;
  /* Includes padding and border in the width */
  /* Add padding for spacing between items */
  display: flex;
  justify-content: center;
  /* Horizontally center the items */
  align-items: center;
  /* Vertically center the items */
  top: 25%;
  width: 1000px;
}

.work {
  opacity: 0;
  position: absolute;
  top: 135%;
  left: 50%;
  transform: translateX(-50%) !important;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.message {
  font-family: "echo" !important;
  position: absolute;
  box-sizing: border-box;
  margin: 15% 10%;
  text-align: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.1);
  /* Adjust background color and opacity as needed */
  border-radius: 25px;
}

.hid {
  opacity: 0;
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}

.visible {
  opacity: 1 !important;
  transform: translateX(0%) !important;
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out,
    background-color 0.3s ease-in-out;
}

.slide-left {
  transform: translateX(-100%);
}

.slide-right {
  transform: translateX(100%);
}

.slide-up {
  transform: translateY(-100%);
}

.slide-down {
  transform: translateY(100%);
}

.visibleforcenter {
  opacity: 1 !important;
  transform: translate(-50%, -50%) !important;
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
}

@media screen and (max-width: 1400px) {
  #text {
    font-size: 6em;
  }
}

@media screen and (max-width: 1300px) {
  .sqrleft {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    gap: 0;
    padding: 0% 5%;
  }

  .square {
    padding: 5%;
  }

  .sqrleft h1 {
    margin-top: 5%;
  }

  .sqrleft img {
    width: 85%;
  }

  .left img {
    transform: scale(0.8);
    /* Start with larger size */
    transition: transform 0.3s ease-in-out;
    /* Smooth transition */
  }

  .left img:hover {
    transform: scale(1);
    /* Scale down on hover */
    animation: none;
    /* Remove animation */
  }
}

@media screen and (max-width: 1230px) {
  #text {
    font-size: 5em;
  }
}

@media screen and (max-width: 1150px) {
  h2 {
    font-size: 1.2rem;
  }

  .card img {
    max-width: 80px;
    /* Adjust as needed */
    height: auto;
    /* Maintain aspect ratio */
  }

  .sqrlinks a img {
    transform: scale(0.8);
  }

  :root {
    --sizebefore: 0.8;
    --sizewhile: 1;
    --sizemed: 0.9;
  }
}

@media screen and (max-width: 1050px) {
  #text {
    font-size: 4em;
  }

  .normalsection #moon {
    object-fit: contain;
  }

  .starssection {
    box-shadow: -100px 280px 450px black, 100px 280px 450px black,
      -200px 200px 450px black, 200px 200px 450px black;
  }
}

@media screen and (max-width: 950px) {
  .opening {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 830px) {
  .about {
    flex-direction: column;
    justify-content: center;
  }

  .sqrleft {
    grid-template-columns: repeat(6, 1fr);
    padding: 0%;
  }

  .sqrleft img {
    width: 100%;
  }

  .square {
    padding: 5%;
  }

  .left {
    margin: 10% 10% 0%;
    flex: 0 0 0;
  }

  .right {
    margin: 0% 10% 5%;
    padding: 1%;
  }

  .square {
    padding: 2%;
  }

  .sqrlinks {
    flex: 0 0 0;
    padding: 0%;
  }

  .sqrlinks a img {
    transform: scale(0.6);
  }

  :root {
    --sizebefore: 0.6;
    --sizewhile: 0.8;
    --sizemed: 0.7;
  }
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.8rem;
  }

  .work {
    width: 90%;
    top: 145%;
  }

  .made-with-icons img:hover {
    transform: scale(1.1);
  }

  .navbar a {
    font-size: 1.4rem !important;
  }

  .toggle-container {
    transform: scale(0.9);
  }

  .accessport {
    top: 180px;
  }

  @keyframes up-and-down {
    0%,
    100% {
      top: 180px;
      transform: rotate(0deg) scale(3);
    }
    25% {
      top: 200px;
      transform: rotate(-10deg) scale(4.5);
    }
    50% {
      top: 160px;
      transform: rotate(0deg) scale(3.5);
    }
    75% {
      top: 200px;
      transform: rotate(10deg) scale(4.5);
    }
  }
}

@media screen and (max-width: 800px) {
  .navbar a {
    font-size: 1.3em !important;
  }

  .toggle-container {
    transform: scale(0.8);
  }
  
  .container {
    flex-direction: column;
    margin-top: 15%;
  }

  .container li {
    font-size: 14px;
  }

  .card {
    margin: 1% 5%;
    z-index: 10;
  }
}

@media screen and (max-width: 750px) {
  .navbar a {
    font-size: 1.2em !important;
  }

  .toggle-container {
    transform: scale(0.7);
  }

  .container li {
    font-size: 12px;
  }

  .made-with-icons img:hover {
    transform: scale(1);
  }
}

@media screen and (max-width: 600px) {
  #middletextfosquare {
    text-align: justify;
  }

  .square {
    margin: 1% 0%;
  }

  .accessport {
    top: 200px;
  }

  @keyframes up-and-down {
    0%,
    100% {
      top: 200px;
      transform: rotate(0deg) scale(3);
    }
    25% {
      top: 220px;
      transform: rotate(-10deg) scale(4.5);
    }
    50% {
      top: 180px;
      transform: rotate(0deg) scale(3.5);
    }
    75% {
      top: 220px;
      transform: rotate(10deg) scale(4.5);
    }
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.7rem;
  }

  .card img {
    max-width: 75px;
    /* Adjust as needed */
    height: auto;
    /* Maintain aspect ratio */
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.4rem;
  }

  p {
    font-size: 0.7rem;
  }

  h2 {
    font-size: 0.9rem;
  }

  h4 {
    font-size: 0.6rem;
  }

  .made-with-icons img {
    max-width: 35px !important;
  }

  .worklink img {
    margin-top: 10px;
    max-width: 35px !important;
    height: auto;
  }
}
